/** Backend Styling only, If you want to theme admin or admin_menu, use the itr_admin_tweaks module **/
@font-face {
    font-family: 'proxima_nova_rgregular';
    src: url('../fonts/dinneuzeitgroteskstd-bdcond-webfont.eot');
    src: url('../fonts/dinneuzeitgroteskstd-bdcond-webfont.eot') format('embedded-opentype'), url('../fonts/dinneuzeitgroteskstd-bdcond-webfont.woff') format('woff'), url('../fonts/dinneuzeitgroteskstd-bdcond-webfont.ttf') format('truetype'), url('fonts/dinneuzeitgroteskstd-bdcond-webfont.svg#proxima_nova_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'proxima_nova_rgregular';
  src: url('../fonts/tisapro-regular-webfont.eot');
  src: url('../fonts/tisapro-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/tisapro-regular-webfont.woff2') format('woff2'),
  url('../fonts/tisapro-regular-webfont.woff') format('woff'),
  url('../fonts/tisapro-regular-webfont.ttf') format('truetype'),
  url('../fonts/tisapro-regular-webfont.svg#proxima_nova_rgregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'tisaproitalic';
  src: url('../fonts/tisapro-ita-webfont.eot');
  src: url('../fonts/tisapro-ita-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/tisapro-ita-webfont.woff2') format('woff2'),
  url('../fonts/tisapro-ita-webfont.woff') format('woff'),
  url('../fonts/tisapro-ita-webfont.ttf') format('truetype'),
  url('../fonts/tisapro-ita-webfont.svg#tisaproitalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proxima_nova_rgregular';
  src: url('../fonts/proximanova-regular-webfont.eot');
  src: url('../fonts/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/proximanova-regular-webfont.woff2') format('woff2'),
  url('../fonts/proximanova-regular-webfont.woff') format('woff'),
  url('../fonts/proximanova-regular-webfont.ttf') format('truetype'),
  url('../fonts/proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proxima_nova_bold';
  src: url('../fonts/proximanova-bold-webfont.eot');
  src: url('../fonts/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/proximanova-bold-webfont.woff2') format('woff2'),
  url('../fonts/proximanova-bold-webfont.woff') format('woff'),
  url('../fonts/proximanova-bold-webfont.ttf') format('truetype'),
  url('../fonts/proximanova-bold-webfont.svg#proxima_nova_bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

html {
    overflow-y: scroll; /* 2 */
    -webkit-text-size-adjust: 100%; /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
    -ms-text-size-adjust: 100%;
    font-size: 62.5%; /*1.0em --> 10px*/
}

/** Enkel voor testing admin-menu aangepast, deze css is nog todo */
body {
    font-family: Arial;
    font-size: 1.3em; /*13px*/
}

a {
    color: #015084;
}

h1, h2, h3 {
    font-family: proxima_nova_rgregular;
    font-weight: normal;
}

h1, #branding h1.page-title {
    font-size: 1.846em;
    color: #000000;
}

.form-submit:hover {
    background: #e0e1df url("../images/btn-bg.png") no-repeat left bottom;
    border-color: #000000;
    color: #ffffff;
}

ul.action-links {
    margin: 0;
    padding: 0;
}

ul.action-links a {
    font-weight: bold;
    color: #00416e;
    background: url("../images/add.jpg") no-repeat left center;
}

ul.action-links a:hover {
    color: #f36;
}

.form-submit {
    border-radius: 0;
    padding: 6px 9px 4px 9px;
    text-align: left;
    font-weight: bold;
    color: #00416e;
    height: 35px;
    font-size: 1em;
}

table.tableheader-processed {
    border: 1px solid #e4e5e3;
}

table th {
    border: 1px solid #e4e5e3;
    background: url("../images/tableheader.jpg") repeat-x left top;
    color: #6b6b6b;
    font-size: 0.917em
}

table th a {
    color: #6b6b6b;
}

table tr, table tr td:last-child, fieldset {
    border-color: #e4e5e3;
}

table td {
    font-size: 1.083em;
}

table td a {
    color: #00416e;
    text-decoration: underline;
}

fieldset legend {
    width: 100%;
    background: #313b45;
    height: 25px;
    line-height: 11px;
}

fieldset .fieldset-legend {
    font-weight: bold;
    color: white;
    text-transform: none;
}

fieldset .fieldset-wrapper {
    padding: 19px 13px 13px 15px;
}

fieldset {
    padding-top: 0;
}

#branding {
    padding: 0px 20px 5px 40px;
    background: #ECECEC;
}

body.admin-menu #branding {
    padding-top: 17px;
}

.breadcrumb {
    color: #838383;
}

ul.primary li a:link, .admin-menu ul.primary li a:visited {
    border-radius: 0;
    border-color: #d2d2d2;
    color: #808080;
    background: #dedfdd;
    padding: 3px 18px 0;
    height: 35px;
    font-weight: normal;
}

ul.primary li a:hover {
    color: #ffffff;
    background: #bdbebb;
    border-color: #a9a9a9;
}

ul.primary li.active a {
    color: #003a63;
    border: none;
    background-color: #FFFFFF;
}

ul.secondary li a:link, .admin-menu ul.secondary li a:visited, .admin-menu ul.secondary li a {
    border-radius: 0;
    color: black;
    padding: 5px 10px 2px 10px;
    height: 20px;
    border: 1px solid #eff0ef;
    background: none;
}

ul.secondary li.active a, .admin-menu ul.secondary li a:hover {
    /*background: url("../images/sectabbg.png") no-repeat left bottom;*/
    background: #f36;
    color: white;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

/** Default height ck_editor heeft geen setting, dus doen we et ma hier **/
.cke_contents {
    height: 500px !important;
}

/*BUTTONSTYLES*/
form div.buttons {
    text-align: left;
}

input.form-submit,
input.form-submit:hover,
input.form-submit.features-refresh-button {
    background: #313b45;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border: none;
    height: auto;
    line-height: normal;
    padding: 10px 20px;
    text-shadow: none;
    color: #fff;
}

input.form-submit:hover {
    background: #f36;
    text-decoration: none;
}

input.form-submit.features-refresh-button {
    font-size: 1em;
}

#features-export-advanced input.form-submit,
#features-export-advanced input.form-submit:hover {
    font-size: 1em;
    padding: 5px 10px;
    margin: 0;
}

#features-export-advanced .features-refresh-wrapper input.form-submit {
    margin: 0 10px;
}

/*FEATURES*/
h3.features-download,
div.features-comparison h3,
div.features-components h3 {
    font-weight: normal;
    letter-spacing: normal;
}

.page-admin-structure-features fieldset {
    border: none;
    padding: 0;
    margin: 0 0 20px;
}

.page-admin-structure-features fieldset legend {
    position: static;
    height: 39px;
    line-height: 39px;
}

.page-admin-structure-features fieldset legend span.fieldset-legend {
    margin: 0;
    padding: 0 10px;
    font-size: 1.1em;
    display: block;
    width: 100%;
    height: 39px;
    line-height: 39px;
}

.page-admin-structure-features fieldset legend span a {
    display: block;
}

.page-admin-structure-features fieldset .fieldset-wrapper {
    padding: 0 20px;
    border: 1px solid #ccc;
    border-top: 0;
}

.page-admin-structure-features .fieldset-legend .summary {
    display: none !important; /* Fix for chrome where features are not selectable */
}

.page-admin-structure-features .form-item {
    padding: 0;
}

.page-admin-structure-features label {
    font-size: 1em;
    margin: 0 0 5px
}

.page-admin-structure-features input.form-text {
    height: 25px;
    line-height: 25px;
    padding: 0 5px;
    border: 1px solid #ddd;
    width: 96% !important;
}

.page-admin-structure-features .form-item input.form-autocomplete {
    background-position: 99% 7px;
}

.page-admin-structure-features .form-item .description {
    font-size: 0.8em;
}

#features-export-buttons {
    margin: 30px 0 0 0;
}

.page-admin-structure-features table {
    border-bottom: 1px solid #BEBFB9;
}

.page-admin-structure-features table th {
    font-size: 1em;
    font-weight: bold;
}

.page-admin-structure-features div.features-components table td {
    border: none;
    font-size: 1em;
}

.page-admin-structure-features div.components table tr.even {
    background: #fff;
}

.page-admin-structure-features .admin-overridden {
    display: inline-block;
}

.page-admin-structure-features .vertical-tabs fieldset .fieldset-wrapper {
    border: none;
    padding: 30px 0 0 0;
    margin: 0;
}

#features-export-wrapper {

}

#features-export-wrapper .features-export-parent {
    margin: 0 0 10px;
    padding: 0;
}

#features-export-wrapper .features-export-parent fieldset {
    margin: 0;
}

#features-export-wrapper .features-export-parent fieldset legend {

}

#features-export-wrapper .features-export-parent fieldset legend span {

    display: inline-block;
}

#features-export-wrapper .features-export-parent fieldset legend span a {
    display: block;
}

#features-export-wrapper .features-filter-clear {
    margin: 26px 0 0 0;
    padding: 3px 10px;
}

.page-admin ul.tabs.primary li.active a {
    background-color: #f36;
    color: #fff;
}

table.features th {

}

table.features a {
    text-decoration: none;
}

table.features a:hover {
    text-decoration: underline;
}

table.features td.sign {
    font-size: 1em;
}

table.features td.state a {
    padding: 5px 10px;
}

/*VIEWS*/
.ctools-button-processed .ctools-content a {
    text-decoration: none;
}

.ctools-button-processed .ctools-content a:hover {
    text-decoration: underline;
}

.ctools-dropbutton-processed .ctools-content ul li,
.ctools-dropbutton-processed .ctools-content ul li:hover,
.ctools-dropbutton-processed .ctools-content ul li a,
.ctools-dropbutton-processed .ctools-content ul li a:hover,
.ctools-dropbutton-processed .ctools-content ul li input,
.ctools-dropbutton-processed .ctools-content ul li input:hover {
    border: none;
    padding: 0;
    margin: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    filter: none;
}

.ctools-dropbutton-processed .ctools-content ul li,
.ctools-dropbutton-processed .ctools-content ul li:hover {
    margin: 0 10px;
}

ul#views-display-menu-tabs li {
    margin: 0 5px;
}

ul#views-display-menu-tabs li a,
ul#views-display-menu-tabs li a:hover {
    padding: 5px 10px;
    height: auto;
    line-height: normal;/*test*/
}

.fieldset-title{
    color: white;
}

ul#views-display-menu-tabs li a:hover {

}

.page-admin-structure-views h1.unit-title {
    font-size: 1.5em;
}

.page-admin-structure-views #edit-display-settings h2 {
    font-size: 1.2em;
    letter-spacing: 1px;
    padding: 0 0 0 5px;
}

.page-admin-structure-views #edit-display-settings h3 {
    font-size: 1em;
    font-family: Arial;
    font-weight: bold;
}

/*SEARCH API*/
#facetapi-facet-display-form table.sticky-header {
    position: static !important;
}

#facetapi-facet-display-form .facetapi-sort-table {
    margin: 0;
    z-index: 99;
}

#facetapi-facet-display-form .form-item {
    clear: both;
}

#facetapi-facet-display-form #edit-widget .form-item {
    clear: none;
}

.block-system fieldset .fieldset-legend a{
    color: white;
}

.tabs-secondary .active{
    color: white!important;
    background: #f36!important;
    border-radius: 0!important;
    height: 20px!important;
    padding-top: 5px!important;
}