/**
 * Breadcrumb
 */

div#admin-toolbar div.admin-tab a {
  background:url(../images/sprite.png) 100% -70px no-repeat;
  padding-right:20px;
  }

  div#admin-toolbar div.admin-tab a:last-child {
    background:transparent;
    padding:0px;
    }

/**
 * Tooltips
 */
div#admin-toolbar.vertical div.admin-toolbar-menu-hover div.block-content { bottom:100px; }

div#admin-toolbar span.menu-description { display:none; }

div#admin-toolbar a.menu-hover span.menu-description {
  color:#ccc;
  display:block;
  }

div#admin-toolbar.vertical a.menu-hover span.menu-description {
  position:absolute;
  overflow:hidden;
  left:0px;
  right:0px;
  bottom:0px;
  padding:0px 20px;
  height:90px;
  }

div#admin-toolbar.horizontal a.menu-hover span.menu-description {
  position:absolute;
  top:0px;
  left:60%;
  width:35%;
  padding-left:20px;
  }

/**
 * Menu
 */
#admin-toolbar ul.menu,
#admin-toolbar ul.menu ul,
#admin-toolbar ul.menu li,
#admin-toolbar ul.menu li a {
  list-style:none;
  background:transparent;
  padding:0px;
  margin:0px;
  border:0px;
  }

/* IE7 */
*:first-child+html #admin-toolbar ul.menu,
*:first-child+html #admin-toolbar ul.menu ul,
*:first-child+html #admin-toolbar ul.menu li,
*:first-child+html #admin-toolbar ul.menu li a { overflow:hidden; }

#admin-toolbar.horizontal ul.drilldown-active-menu {
  float:left;
  width:60%;
  }

#admin-toolbar.horizontal div.admin-pane ul.drilldown-active-menu {
  float:none;
  width:auto;
  }

#admin-toolbar.horizontal ul.drilldown-active-menu li {
  float:left;
  width:49.9%;
  }

  #admin-toolbar ul.drilldown-active-menu li { background:url(../images/sprite.png) 0% -85px no-repeat; }

  #admin-toolbar ul.menu li.leaf,
  #admin-toolbar ul.drilldown-active-menu li.leaf { background:url(../images/sprite.png) 0% -110px no-repeat; }

#admin-toolbar ul.menu li a {
  -moz-border-radius:5px;
  -webkit-border-radius:5px;

  display:block;
  margin-left:25px;
  height:15px;
  padding:5px 10px 4px;
  border-bottom:1px solid #222;

  white-space:nowrap;
  overflow:hidden;
  }

  #admin-toolbar ul.menu li a span.menu-description { white-space:normal; }

  /* IE7 requires height to be explicitly set. */
  #admin-toolbar ul.menu li.leaf,
  #admin-toolbar ul.drilldown-active-menu li { height:25px; }

  #admin-toolbar ul.menu li a.active { background:#222; }
  #admin-toolbar ul.menu li a:hover {
    color:#000;
    background:url(../images/bleeds.png) 0px -30px repeat-x;
    }

/* Drilldown generic styles */
.drilldown ul.menu li { display:none !important; }
.drilldown ul.menu li a { display:none !important; }
.drilldown ul.menu li.drilldown-active-trail { display:block !important; }

.drilldown ul.drilldown-active-menu li { display:block !important; }
.drilldown ul.drilldown-active-menu li a { display:block !important; }
.drilldown ul.drilldown-active-menu li ul { display:none !important; }

.drilldown ul.drilldown-active-menu li.expanded { cursor:pointer; }
.drilldown ul.drilldown-active-menu ul.menu li a { display:none !important; }
