/* GENERAL */
html, body {
  height: 100%;
  font-family: "Century Gothic", Arial, AppleGothic, sans-serif;
  font-size: 15px;
  text-align: justify;
  color: #0f0f0f;
  letter-spacing: 1px;
  line-height: 1.1em;
}
body {
  background: #011b2e url('../img/bg.jpg') no-repeat fixed center;
  background-size: cover;
  max-width: 1200px;
  margin: 0 auto !important;
}
body.is_user {
  display: flex;
  justify-content: center;
}
@media (max-width: 768px) {
  body.is_user {
    display: block;
  }
}
img {
  max-height: 100%;
  width: auto;
}
.hidden {
  display: none;
}
strong {
  font-weight: bold;
}

/* HEADER */
header {
  display: flex;
  align-items: center;
  margin: 10px 0 5px;
}
header .logo {
  height: 200px;
  z-index: 1;
}
@media (max-width: 768px) {
  header .logo {
    display: none;
  }
}

/* MENU */
nav {
  background-color: rgba(1, 27, 46, 0.8);
  padding: 0 25px;
  margin: 0 0 0 -50px;
}
nav ul {
  margin: 0 0 0 50px;
}
nav ul li {
  padding: 0 !important;
  margin: 0 25px 0 0 !important;
  list-style: none !important;
  display: inline-block;
}
nav ul li:last-child {
  margin: 0 !important;
}
nav ul li a {
  display: block;
  padding: 20px 10px;
  color: #f0f0f0;
  font-size: 1.25em;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}
nav ul li a:hover,
nav ul li a.active {
  color: #f28a5d;
}
nav ul li a.logout {
  padding: 0 0 0 30px;
  background: url('../img/logout.png') no-repeat left center;
  background-size: contain;
}
@media (max-width: 768px) {
  nav {
    margin: 10px 25px;
  }
  nav ul {
    margin: 0;
  }
}
@media (max-width: 600px) {
  nav {
    width: 100%;
  }
  nav ul li {
    display: block;
    text-align: center;
    margin: 0 !important;
  }
  nav ul li a {
    padding: 5px;
    font-size: 1em;
  }
  nav ul li a.logout {
    padding: 5px;
    background: none;
  }
}

/* MAIN */
main .body-wrapper {
  background-color: #f0f0f0;
  padding: 25px;
}
main.is_user {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
main.is_user .messages {
  margin: 0 0 25px;
}
main.is_user .user-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
main.is_user ul.tabs {
  border: none;
  margin: 0 0 25px 0;
  padding: 0;
}
main.is_user ul.tabs li a {
  background: none;
  color: #f0f0f0;
  border: 1px solid #afc8e1;
  text-decoration: none;
  text-transform: uppercase;
  padding: 5px 10px;
  margin: 0 10px;
}
main.is_user ul.tabs li a.active {
  font-weight: bold;
}
main.is_user form {
  margin: 0 25px;
}
main.is_user form div > .form-item {
  margin: 0;
  border: 2px solid #afc8e1;
  border-bottom: none;
  width: 100%;
}
main.is_user form .form-item > .form-item {
  border: none;
}
main.is_user form#user-login .form-item-name,
main.is_user form#user-pass .form-item-name,
main.is_user form#user-register-form .form-item-name {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
main.is_user form#user-login .form-item-pass,
main.is_user form#user-pass .form-item-name,
main.is_user form#user-register-form .form-item-pass {
  border-bottom: 2px solid #afc8e1;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
main.is_user form input {
  background: none;
  color: #f0f0f0;
  border: none;
  font-size: 1.2em;
  padding: 15px 25px;
  width: 100%;
  outline: none;
}
main.is_user form input.error {
  border: none;
}
main.is_user form input.form-submit {
  background-color: #f0f0f0;
  color: #011B2E;
  text-transform: uppercase;
  cursor: pointer;
}
main.is_user form .description,
main.is_user form .password-strength,
main.is_user form div.password-confirm {
  display: none !important;
}
@media (max-width: 768px) {
  main.is_user .user-wrapper {
    flex-direction: column;
  }
  main.is_user ul.tabs {
    text-align: center;
    margin: 0;
  }
  main.is_user ul.tabs li {
    display: block;
    margin: 15px 0;
  }
}

/* FOOTER */
footer {
  display: flex;
  justify-content: space-between;
  color: #f0f0f0;
  margin: 10px 25px;
  font-weight: bold;
}
footer .footer.footer-left {
  text-align: left;
}
footer .footer.footer-right {
  text-align: right;
}