.ranking-header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 25px 10px;
}
.ranking-header label {
  margin: 0 20px 0 0;
  color: #f0f0f0;
  text-transform: uppercase;
  font-weight: bold;
}
.ranking-header select {
  background: none;
  border: 1px solid #afc8e1;
  color: #f0f0f0;
  padding: 5px 10px;
}
.ranking-header option {
  background-color: #011B2E;
  color: #f0f0f0;
}
.rankings-wrapper {
  margin: 0 0 25px;
}
.rankings-wrapper .ranking-wrapper.header {
  font-weight: bold;
}
.rankings-wrapper .ranking-wrapper:last-child {
  color: #b96469;
}
.rankings-wrapper .ranking-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 5px;
  padding: 10px 50px;
  background-color: rgba(1, 27, 46, 0.5);
  color: #f0f0f0;
}
.rankings-wrapper .ranking-wrapper.pos-1,
.rankings-wrapper .ranking-wrapper.pos-2,
.rankings-wrapper .ranking-wrapper.pos-3 {
  color: #4bd78c;
  font-weight: bold;
}
.rankings-wrapper .ranking-wrapper.pos-1 {
  font-size: 1.2em;
}
.rankings-wrapper .ranking-wrapper.pos-2 {
  font-size: 1.15em;
}
.rankings-wrapper .ranking-wrapper.pos-3 {
  font-size: 1.1em;
}
.rankings-wrapper .ranking-wrapper .user {
  flex-grow: 1;
}
.rankings-wrapper .ranking-wrapper .exact, .rankings-wrapper .ranking-wrapper .points {
  flex: 0 0 75px;
  text-align: center;
}