.bets-wrapper .bet-wrapper .date {
  background-color: rgba(1, 27, 46, 0.5);
  text-align: center;
  padding: 10px 0 5px;
}
.bets-wrapper .bet-wrapper .home,
.bets-wrapper .bet-wrapper .away {
  font-size: 20px;
}
.bets-wrapper .bet-wrapper .bet {
  background-color: rgba(1, 27, 46, 0.5);
  text-align: center;
  padding: 5px 0 10px;
  margin: 0;
}
.bets-wrapper .bet-wrapper .bet p {
  margin: 0 0 5px;
}
.bets-wrapper .bet-wrapper .bet a {
  margin: 5px 0 0;
}
.bets-wrapper .bet-wrapper .view {
  background-color: rgba(1, 27, 46, 0.5);
  text-align: center;
}