.detail-wrapper .match-wrapper {
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.detail-wrapper .match-wrapper .home,
.detail-wrapper .match-wrapper .away {
  display: flex;
  align-items: center;
  width: 50%;
  background-color: rgba(1, 27, 46, 0.5);
  padding: 25px 40px;
  transform: skew(-20deg);
}
.detail-wrapper .match-wrapper .win {
  background-color: rgba(1, 27, 46, 0.9);
}
.detail-wrapper .match-wrapper .home {
  justify-content: flex-end;
  margin: 10px 5px 10px -20px;
}
.detail-wrapper .match-wrapper .away {
  justify-content: start;
  margin: 10px -20px 10px 5px;
}
.detail-wrapper .match-wrapper div > div {
  transform: skew(20deg);
  margin: 0 20px;
  color: #f0f0f0;
  font-weight: bold;
}
.detail-wrapper .match-wrapper .score {
  color: #f28a5d;
  font-size: 1.5em;
}
.users-wrapper .user-wraper {
  background-color: rgba(1, 27, 46, 0.5);
  margin: 5px;
  padding: 10px 50px;
  display: flex;
  justify-content: space-between;
  color: #f0f0f0;
}
.users-wrapper .user-wraper.wrong .user-bet {
  color: #b96469;
}
.users-wrapper .user-wraper.exact .user-bet {
  color: #4bd78c;
}
.users-wrapper .user-wraper.correct .user-bet {
  color: #4178c3;
}
.detail-footer {
  margin: 10px 10px 25px;
  text-align: right;
}
.detail-footer a {
  display: block;
  color: #f0f0f0;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}
@media (max-width: 1024px) {
  .detail-wrapper .match-wrapper .logo {
    display: none;
  }
}