.bets-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 25px 10px 5px 0;
}
.bets-header .bets-header-left a {
  color: #f0f0f0;
  border: 1px solid #afc8e1;
  text-decoration: none;
  text-transform: uppercase;
  padding: 5px 10px;
  margin: 0 10px;
}
.bets-header .bets-header-left a.active {
  font-weight: bold;
}
.bets-header .bets-header-right {
  display: flex;
  align-items: center;
}
.bets-header .bets-header-right label {
  margin: 0 20px 0 0;
  color: #f0f0f0;
  text-transform: uppercase;
  font-weight: bold;
}
.bets-header .bets-header-right select {
  background: none;
  border: 1px solid #afc8e1;
  color: #f0f0f0;
  padding: 5px 10px;
  outline: none;
}
.bets-header .bets-header-right option {
  background-color: #011B2E;
  color: #f0f0f0;
}
.bets-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 40px;
}
.bets-wrapper h2 {
  margin: 25px 0 5px 10px;
  color: #f0f0f0;
  font-size: 1.25em;
  font-weight: bold;
}
.bets-wrapper .bet-wrapper {
  width: 100%;
  display: flex;
  overflow: hidden;
}
.bets-wrapper .bet-wrapper .home,
.bets-wrapper .bet-wrapper .away {
  width: 50%;
  background-color: rgba(1, 27, 46, 0.5);
  display: flex;
  align-items: center;
  padding: 20px 40px;
  transform: skew(-20deg);
}
.bets-wrapper .bet-wrapper .win {
  background-color: rgba(1, 27, 46, 0.9);
}
.bets-wrapper .bet-wrapper .home {
  margin: 10px 5px 10px -20px;
  justify-content: space-between;
}
.bets-wrapper .bet-wrapper .away {
  margin: 10px -20px 10px 5px;
  justify-content: flex-end;
}
.bets-wrapper .bet-wrapper .home > div,
.bets-wrapper .bet-wrapper .away > div {
  transform: skew(20deg);
}
.bets-wrapper .bet-wrapper .date {
  color: #afc8e1;
}
.bets-wrapper .bet-wrapper .team {
  color: #f0f0f0;
  font-weight: bold;
}
.bets-wrapper .bet-wrapper .score {
  color: #f28a5d;
  font-size: 1.5em;
  font-weight: bold;
}
.bets-wrapper .bet-wrapper .view a {
  display: block;
  color: #f0f0f0;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  padding: 5px 10px;
}
.bets-wrapper .bet-wrapper .bet {
  margin: 0 25px 0 0;
}
.bets-wrapper .bet-wrapper .bet p {
  color: #afc8e1;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.75em;
  margin: 0 0 10px;
}
.bets-wrapper .bet-wrapper .bet span {
  color: #f0f0f0;
  font-size: 1.5em;
  font-weight: bold;
}
.bets-wrapper .bet-wrapper .bet span:first-child {
  margin: 0 0 0 10px;
}
.bets-wrapper .bet-wrapper .bet span:last-child {
  margin: 0 10px 0 0;
}
.bets-wrapper .bet-wrapper .bet .form-wrapper.wrong span {
  color: #b96469;
}
.bets-wrapper .bet-wrapper .bet .form-wrapper.exact span {
  color: #4bd78c;
}
.bets-wrapper .bet-wrapper .bet .form-wrapper.correct span {
  color: #4178c3;
}
.bets-wrapper .bet-wrapper .bet input {
  background: none;
  border: 1px solid #afc8e1;
  color: #f28a5d;
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
  width: 50px;
}
.bets-wrapper .bet-wrapper .bet a {
  color: #f0f0f0;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  display: block;
  font-size: 0.75em;
}
.bets-wrapper .bet-wrapper .bet-stuff-wrapper {
  display: flex;
  align-items: center;
}
.bets-wrapper .bet-wrapper .bet-stuff-wrapper > div {
  margin: 0 10px;
}
.bets-wrapper .bet-wrapper .home .bet-stuff-wrapper {
  justify-content: flex-end;
}
.bets-wrapper .bet-wrapper .away .bet-stuff-wrapper {
  justify-content: flex-start;
  flex-grow: 1;
}
.bets-footer {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  bottom: 25px;
  max-width: 1200px;
  width: 100%;
}
.bets-footer input {
  background-color: #f28a5d;
  color: #011B2E;
  border: 1px solid #011B2E;
  padding: 5px 25px;
  font-size: 1.1em;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  margin: 0 25px 10px 0;
}
@media (max-width: 1024px) {
  .bets-header {
    display: block;
  }
  .bets-header .bets-header-left {
    display: flex;
    justify-content: right;
  }
  .bets-header .bets-header-right {
    margin: 10px;
    justify-content: right;
  }
  .bets-wrapper .bet-wrapper {
    display: block;
    margin: 10px 0;
  }
  .bets-wrapper .bet-wrapper .home,
  .bets-wrapper .bet-wrapper .away {
    transform: none;
    width: auto;
    margin: 0;
    padding: 0 25px;
    justify-content: space-around;
  }
  .bets-wrapper .bet-wrapper .home > div,
  .bets-wrapper .bet-wrapper .away > div {
    transform: none;
    margin: 5px 0;
  }
  .bets-wrapper .bet-wrapper .bet-stuff-wrapper {
    flex-direction: column;
    width: 50%;
  }
  .bets-wrapper .bet-wrapper .bet-stuff-wrapper > div {
    margin: 5px 0;
  }
  .bets-wrapper .bet-wrapper .away .bet-stuff-wrapper {
    justify-content: flex-end;
    order: 3;
    flex-grow: 0;
  }
}