/* JC^Notifications 2014*/
.messages {
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #c09853;
}

div.status {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    background-image: url("../images/ok.png");
    background-repeat: no-repeat;
    padding: 10px 10px 10px 50px;
}

div.warning {
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #c09853;
    background-image: url("../images/danger.png");
    background-repeat: no-repeat;
    padding: 10px 10px 10px 50px;
}

div.error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    background-image: url("../images/error.png");
    background-repeat: no-repeat;
    padding: 10px 10px 10px 50px;
    background-position: 10px;
    margin: 10px;
}

/* Contextual buttons */
.admin-menu .form-actions #edit-submit {
    background: #558f36;
}

.admin-menu .form-actions #edit-submit:hover {
    background: #457829;
}

.admin-menu .form-actions #edit-delete {
    background: #b11f1f;
}

.admin-menu .form-actions #edit-delete:hover {
    background: #981717;
}


/* Multiple fields remove button integration */
.field-multiple-table .multiple-fields-remove-button {
    margin-top: 10px;
}
