/*
When the developers admin_menu is visible, mode the content managers' admin menu 30px lower.

Enabled settings of admin_menu:
 - Adjust top margin
 - Keep menu at top of page
*/

/** Admin module met Admin-menu module fix **/
body.admin-menu div#admin-toolbar.vertical {
    top: 30px;
}

body.page-node-edit div.field-status-synced label:first-child {
    background: #FFF url(../images/icon_sync.png) left center no-repeat;
    padding-left: 20px;
}

body.page-node-edit div.field-status-readonly label:first-child {
    background: #FFF url(../images/icon_locked.gif) left center no-repeat;
    padding-left: 20px;
}

/*
*  Admin_menu module Theming
*/

#admin-menu-wrapper {
    font-size: 1em;
    padding: 0;
}

#admin-menu-wrapper {
    background: #313b45;
}

#admin-menu {
    height: 40px;
    margin: 0;
    padding: 0;
    box-shadow: none;
    position: fixed;
    top: 0;
    width: 100%;
}

html body.admin-menu {
    margin-top: 40px !important;
}

#admin-menu .dropdown li.admin-menu-icon {
    background: none;
    padding: 0;
}

#admin-menu .dropdown li.admin-menu-icon a {
    padding: 0;
}

#admin-menu .dropdown li.admin-menu-icon a span {
    background: url("../images/logo.svg") no-repeat center center;
    width: 132px;
    height: 40px;
    background-size: auto 25px;
}

#admin-menu .dropdown li {
    padding: 0;
    height: 40px;
    line-height: 34px;
}

#admin-menu .dropdown li.expandable {
}

#admin-menu .dropdown li:hover, #admin-menu .dropdown .admin-menu-toolbar-category > a.active-trail {
    /*background: url("../images/selected_menu.jpg") no-repeat left top;*/
    background: none;
}

#admin-menu div .dropdown li a {
    color: #FFFFFF;
    font-weight: bold;
    padding: 3px 15px 3px 15px;
    margin: 0;
    opacity: 0.99;
}

#admin-menu div .dropdown li li a {
    padding: 2px 5px 3px 7px;
    font-size: 11px;
    font-weight: normal;
    text-shadow: none;
}

div#admin-toolbar.vertical div.admin-blocks-1 div.admin-block {
    top: 0;
}

#admin-menu .dropdown li ul {
}

#admin-menu .dropdown li ul li {
    background: #252d35;
    opacity: 0.95;
    height: auto;
    line-height: 19px;
    padding: 3px 0;
    font-size: 0.923em;
    padding-left: 7px;
}

#admin-menu .dropdown li ul li:hover {
    background: #f36;
    font-weight: bold !important;
}

#admin-menu .dropdown li ul li a {
    border: none;
}

#admin-menu .dropdown li ul li.expandable {
    background: #252d35;
    position: relative;
}

#admin-menu .dropdown li ul li.expandable:hover {
    background: #f36;
    font-weight: bold !important;
}

#admin-menu .dropdown li ul li ul li {
    font-size: 1em;
}

#admin-menu li.admin-menu-account > a {
    background: none;
}

#admin-menu li.admin-menu-account > a:hover {
    background: #252d35;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}

#admin-menu .dropdown .admin-menu-toolbar-category > a:hover {
    background: #252d35;
    border-radius: 0;
}

#admin-menu .dropdown .admin-menu-toolbar-category > a.active-trail {
    border-radius: 0;
    background: #252d35;
}

#admin-menu .dropdown strong {
    color: white;
}

#admin-menu .dropdown li li.expandable ul {
    margin: 0;
    right: -159px;
    position: absolute;
    top: 0;
}

#admin-menu .dropdown .admin-menu-users a {
    background: url("../images/icon_users.png") no-repeat right center;
    margin: 0 15px 0 0;
}

/*
*  Admin module Theming
*/

div#admin-toolbar.vertical div.admin-block {
    top: 0 !important;
}

div#admin-toolbar.vertical div.admin-block {
    width: auto;
    height: 100%;
    position: relative;
    padding: 0;
}

div#admin-toolbar.vertical div.admin-blocks-2 div.admin-block {
    top: 0px;
    padding-left: 38px;
}

div#admin-toolbar div.block-content {
    overflow-y: auto !important;
    position: static;
}

body.admin-menu div#admin-toolbar.vertical {
    top: 40px !important;
}

div#admin-toolbar.vertical div.admin-blocks {
    background: #252d35;
}

div#admin-toolbar, div#admin-toolbar * {
    color: #CCCCCC;
    font-size: 1em;
    font-family: Arial;
}

#admin-toolbar ul.menu li.leaf,
#admin-toolbar ul.drilldown-active-menu li.leaf,
#admin-toolbar ul li {
    background: #313b45;
    min-height: 30px;
    height: auto;
    margin: 2px 0 0px 0;
}

#admin-toolbar ul li:hover,
#admin-toolbar ul.menu li:hover {
    background: #f36;
}

#admin-toolbar ul.menu li a,
#admin-toolbar ul li a {
    font-size: 12px;
    border: none;
    background: url("../images/arrows.png") no-repeat 22px -53px;
    padding: 8px 5px 8px 35px;
    margin: 0;
    height: auto;
    display: block;
    white-space: normal;
}

#admin-toolbar ul.menu li a:hover,
#admin-toolbar ul.menu li a.active,
#admin-toolbar ul li a:hover,
#admin-toolbar ul li a.active {
    background: #f36;
    color: white;
    background: url("../images/arrows.png") no-repeat 22px -53px;
}

div#admin-toolbar div.admin-tabs {
    background: none;
}

div#admin-toolbar.vertical div.admin-tabs {
    margin-top: 18px;
    padding: 0 !important;
    padding-left: 38px !important;
    width: 100%;
    margin-bottom: 41px !important;
    padding-bottom: 0px !important;
}

div#admin-toolbar div.admin-tab {
    background: #313b45;
    border-radius: 0;
    min-height: 37px;
    line-height: 37px;
    width: 100%;
    border: none;
    padding: 0 !important;
    text-shadow: none;
}

div#admin-toolbar div.admin-tab span {
    padding: 0 20px;
    font-size: 0.9em;
    color: #fff;
}

div#admin-toolbar div.admin-tab.admin-tab-active {
    /*background:url(../images/bg-tab-active.jpg) no-repeat left top;*/
    min-height: 39px;
    width: 215px;
}

div#admin-toolbar.vertical div.admin-tab {
    padding: 8px 0px 14px 19px;
    margin: 0 0 3px 0;
    width: 100%;
    height: 13px;
}

div#admin-toolbar.vertical div.admin-tab:hover {
    background: #f36;
}

div#admin-toolbar.vertical div.admin-tab:hover span {
}

div#admin-toolbar.vertical div.admin-tab-active {
    margin: 0;
    width: 100%;
    bottom: -40px !important;
}

div#admin-toolbar div.admin-tab span {
    font-size: 13px !important;
    color: #ffffff;
}

div#admin-toolbar div.admin-tab-active span {
}

body.admin-expanded div#admin-toolbar span.admin-toggle {
    background: url("../images/icon_remove_update.png") no-repeat left top;
    padding: 0;
    height: 12px;
    width: 33px;
    margin: 25px 0 0 12px;
}

body.admin-expanded div#admin-toolbar span.admin-toggle:hover {
    background: url("../images/icon_remove_update.png") no-repeat left bottom;
}

div#admin-toolbar span.admin-toggle {
    background: url("../images/wrench.png") no-repeat left top;
    width: 44px;
    height: 44px;
}

/* Tijdelijk: te verbeteren door Jan */
div#admin-toolbar #itr-support-block {
    padding: 5% 10%;
    position: absolute;
    bottom: 0;
    width: 100%;
    border-width: 0.5px;
    border-color: #000100;
    border-style: solid;
    opacity: 0.99;
    margin: auto;
    box-sizing: border-box;
}

div#admin-toolbar #itr-support-block-text {
    padding-left: 3px;
    color: #91CBF9;
    text-align: center;
    font-size: 14px;
}

div#admin-toolbar #itr-support-block-phone {
    text-align: center;
    font-size: 33px;
    line-height: 38px;
    color: white;
}

/** Panels In-Line Editor **/
div#panels-ipe-control-container {
    background: none repeat scroll 0 0 #001827;

}

input#panels-ipe-save {
    background: url("../images/icon-save.png") no-repeat left top #00406C;
}

input#panels-ipe-save:hover {
    background: url("../images/icon-save.png") no-repeat left top #003054;
}

input#panels-ipe-cancel {
    background: url("../images/icon-close.png") no-repeat left top #00406C;
}

input#panels-ipe-cancel:hover {
    background: url("../images/icon-close.png") no-repeat left top #003054;
}

div.panels-ipe-pseudobutton-container, div.panels-ipe-control .form-submit {
    background: none repeat scroll 0 0 #00406C;
}

div.panels-ipe-pseudobutton-container:hover, div.panels-ipe-control .form-submit:hover {
    background: none repeat scroll 0 0 #003054;
}

/* Contextual links */
ul.contextual-links li a {
    padding: 2px 10px !important;
    line-height: auto;
}

ul.contextual-links li {
    /*height: 20px;*/
    border: none;
    padding: 0 !important;
    line-height: auto;
}

#admin-menu #admin-menu-account .admin-menu-actions {
    background: #252d35;
}

/* Contextual buttons */
.admin-menu .form-actions #edit-submit {
    background: #558f36;
}

.admin-menu .form-actions #edit-submit:hover {
    background: #457829;
}

.admin-menu .form-actions #edit-delete {
    background: #b11f1f;
}

.admin-menu .form-actions #edit-delete:hover {
    background: #981717;
}

.admin-menu fieldset.collapsible legend {
    background: #28B3EE;
}

.admin-menu fieldset.collapsible .fieldset-legend {
    background: url('../images/menu-expanded.png') 10px 65% no-repeat !important;
    padding-left: 25px !important;
}

.admin-menu fieldset.collapsed .fieldset-legend {
    background: url('../images/menu-collapsed.png') 10px 65% no-repeat !important;
}