div.horizontal-tabs {
  border: none;  
}
.horizontal-tabs ul.horizontal-tabs-list {
  display: block;
  margin: 0;
  padding: 0;  
  float: left;
  list-style: none;
  height: 33px; /*--Set height of tabs--*/
  border: none;
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
  background: none;
  width: 100%;
}
.horizontal-tabs ul.horizontal-tabs-list li {
  display: block;
  border: 1px solid #000;
  border-left: none;
  background: #EAEAE3;
  height: 31px; /*--Subtract 1px from the height of the unordered list--*/
  line-height: 31px; /*--Vertically aligns the text within the tab--*/ 
}
.horizontal-tabs ul.horizontal-tabs-list li a, 
.horizontal-tabs ul.horizontal-tabs-list li.selected a {
  padding: 0 10px;
  margin: 0;
  text-align: center;
  color: #000000;
}
.horizontal-tabs ul.horizontal-tabs-list li.selected, 
.horizontal-tabs ul.horizontal-tabs-list li.selected a:hover  {
  background: #fff;
  border-bottom: 1px solid #fff;
}
.horizontal-tabs ul.horizontal-tabs-list li,
.horizontal-tabs ul.horizontal-tabs-list li a {
  outline:none;
}
.horizontal-tabs ul.horizontal-tabs-list li .element-invisible {
  display: none;
}
.horizontal-tabs-panes {
  float: left;
  width: 100%;
  border: 1px solid #000;
  border-top: none;
  background: none;
}
.horizontal-tabs fieldset.horizontal-tabs-pane {
  background: none;
  padding: 0;
  margin: 0;
}
.horizontal-tabs-panes fieldset .fieldset-legend .summary {
  display: none;
}
.horizontal-tabs-panes fieldset {
  background: #F2F2ED;
  border: 1px solid #CCC;
}
.horizontal-tabs-panes fieldset.collapsed {
  background: #F2F2ED;
}
html.js .horizontal-tabs-panes fieldset.collapsible .fieldset-legend {
  padding-left: 15px;
  font-weight: bold;
}
/* ------------------------------------------------------
------------- SOME CUSTOM STYLINE FOR RUBIK -------------
------------------------------------------------------ */
html.js body.admin-rubik .horizontal-tabs-panes fieldset.collapsible .fieldset-legend {
  padding-left: 0;
}
body.admin-rubik .horizontal-tabs ul.horizontal-tabs-list li {
  background: #EEE;
}
body.admin-rubik .horizontal-tabs ul.horizontal-tabs-list li a:hover {
  background: #FFF;
  -webkit-box-shadow:#ace 0px 0px 5px;
}
body.admin-rubik .horizontal-tabs ul.horizontal-tabs-list li.selected {
  background: #FFF;
  border-bottom: 1px solid #FFF;
}
body.admin-rubik .horizontal-tabs ul.horizontal-tabs-list {
  border-bottom: 1px solid #DDD;
  border-left: 1px solid #DDD;
}
body.admin-rubik .horizontal-tabs ul.horizontal-tabs-list li {
  border: 1px solid #DDD;
}
body.admin-rubik .horizontal-tabs-panes {
  border: 1px solid #DDD;
  border-top: none;
}
body.admin-rubik fieldset.horizontal-tabs-pane > .fieldset-content,
body.admin-rubik fieldset.horizontal-tabs-pane .filter-wrapper .fieldset-content {
  padding: 10px;
}
body.admin-rubik fieldset.horizontal-tab-hidden.titled {
  display: none;
}